.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  img{
    -webkit-animation: infiniteRotate 1s linear infinite; /* Safari */
    animation: infiniteRotate 1s linear infinite;
  }
  @-webkit-keyframes infiniteRotate {    
    0% { 
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg); 
    }
    50% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); 

    }
    100% { 
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg); 
    }
  }
  /* Standard syntax */
  @keyframes infinite-rotate {  
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
  }
}


.loader-enter {
  opacity: 0;
}

.loader-leave-active {
  opacity: 0;
}

.loader-enter .loader-container,
.loader-leave-active .loader-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}