
  <div class="list">
    <div class="list-body">
      <div class="list-body-content">
        <div class="list-body-filter">
          <input type="text" placeholder="Search" v-model="searchValue">
          <img src="@/assets/search.svg" alt="">
        </div>
        <div v-if="pokemons.length > 0" class="list-body-list">
          <div v-for="pokemon in pokemons" class="list-body-list-item">
            <p @click="OpenModal(pokemon)">name</p>
            <div class="img">
              <img src="@/assets/star_gray.svg" alt="">
            </div>            
          </div>
        </div>
        <div v-else  class="list-body-list">
          <div class="lose">
            <h3>
              Uh-oh!
            </h3>
            <p>
              You look lost on your journey!
            </p>
            <router-link to="/">Go back home</router-link>
          </div>
        </div>
      </div>
      <PokemonDetail v-if="showModal" :pokemon="pokemon"  @close="showModal = false"></PokemonDetail>
    </div>
    <div class="list-filter">
      <div class="list-filter-content">
        <button class="active">
          <img src="@/assets/list.svg" alt="">
          All
        </button>
        <button>
          <img src="@/assets/star_white.svg" alt="">
          Favorites
        </button>
      </div>
    </div>    
  </div>